.top{
    display: flex;
    gap:11px;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 90%;
}
.top-card-paragraph{
    font-size: 10px;
}
.top-card-heading{
    margin-bottom: 5px !important;
    font-size: 14px;
    
}
.card-container{
    display: flex;
    flex-direction: column;
    background-color: hsl(226, 25%, 17%);
    justify-content: space-between;
    align-items: center;
    min-width:100px;
    height: 155px;
    border: 1px ;
    border-radius: 3% 3%;
}
.top-card-logo{
    height: 40px;
}
.top-items{
    margin: 0;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.remove{
    background-color:hsl(226, 25%, 17%) ;
    color: #ffffff;
    border: 1px solid hsl(225, 23%, 24%);
    border-radius: 20px;
    height: 30px;
    width: 80px;
    margin-right: 7px;
}
.toggle{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color:hsl(3, 86%, 51%) ;
    color: #ffffff;
    border: 1px;
    border-radius: 20px;
    height: 20px;
    width: 35px;
    padding: 0;
}
.card{
    margin: 15px 0 15px 0;
}
.toggle-icon{
    background-color:white ;
    border: 1px;
    border-radius: 20px;
    height: 16px;
    width: 16px;
}
.lightBg{
    background-color: hsl(200, 60%, 99%) ;
    box-shadow:  1px  1px hsl(0, 0%, 78%) ;
    border-color: hsl(0, 0%, 66%) ;
}
.darkText{
    color: hsl(226, 25%, 17%) ;
}
.textColor{
    color: hsl(226, 22%, 23%) ;
}
.activeState{
    justify-content: flex-start;
    background-color:hsl(226, 11%, 37%, 0.585) ;
}



@media (max-width:1300px){
    .card-container{
        min-width:185px; 
    }
}
