.grid-container{
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 58%;
}

@media (max-width:1300px){
    .grid-container{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}