.title {
    color: #ffffff;
    font-size: 1.2rem;
    height: 30px;

}

.header-container {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 58%;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    background-color: hsl(226, 25%, 17%);
    color: #ffffff;
    border: 1px;
    border-radius: 20px;
    height: 30px;
    width: 70px;
    margin-right: 7px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.all {
    width: 50px !important;
}

.inactive {
    margin-right: 0 !important;
    width: 80px !important;
}


.color {
    box-shadow: 1px 1px 1px 1px hsl(0, 0%, 78%);
    background-color: hsl(200, 60%, 99%);
    color: hsl(226, 25%, 17%);
}

.bg {
    background-color: hsl(3, 86%, 51%);
}

.dark-t {
    color: hsl(226, 25%, 17%);

}

.light-t {
    color: hsl(200, 60%, 99%);
}

.link-items {
    text-decoration: none;

}

.create-header {
    display: flex;
    align-items: center;
    gap: 20px;
}



.span-cross {
    font-size: 15px;
    font-weight: 800;

}

.btn-container {
    display: flex;
}



@media (max-width:1300px) {
    .header-container {
        flex-direction: column;
    }

    .btn-container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .create-header {
        width: 100%;
        gap: 0;
        flex-direction: column;
        margin-bottom: 30px;


    }



}